{
    "globals": {},

    "env": {
        "browser": true,
        "node": false,
        "amd": true,
        "mocha": false,
        "jasmine": false,
        "phantomjs": false,
        "jquery": false,
        "prototypejs": false,
        "shelljs": false,
        "meteor": false,
        "es6": false
    },

    "rules": {
        "comma-dangle": [2, "never"],
        "no-cond-assign": [1, "always"],
        "no-console": 1,
        "no-constant-condition": 2,
        "no-control-regex": 1,
        "no-debugger": 2,
        "no-dupe-args": 1,
        "no-dupe-keys": 1,
        "no-duplicate-case": 1,
        "no-empty": 1,
        "no-empty-class": 1,
        "no-ex-assign": 1,
        "no-extra-boolean-cast": 1,
        "no-extra-parens": 1,
        "no-extra-semi": 1,
        "no-func-assign": 1,
        "no-inner-declarations": [1, "both"],
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 1,
        "no-negated-in-lhs": 1,
        "no-obj-calls": 2,
        "no-regex-spaces": 1,
        "no-reserved-keys": 2,
        "no-sparse-arrays": 2,
        "no-unreachable": 2,
        "use-isnan": 1,
        "valid-jsdoc": [1, {
            "prefer": {
                "return": "returns",
                "requireReturn": false,
                "requireReturnDescription": false,
                "requireParamDescription": true
            }
        }],
        "valid-typeof": 2,

        "block-scoped-var": 2,
        "complexity": [1, 6],
        "consistent-return": 2,
        "curly": [2, "all"],
        "default-case": 1,
        "dot-notation": [2, {
            "allowKeywords": true,
            "camelcase": true
        }],
        "eqeqeq": [2, "smart"],
        "guard-for-in": 2,
        "no-alert": 2,
        "no-caller": 2,
        "no-div-regex": 1,
        "no-else-return": 1,
        "no-empty-label": 1,
        "no-eq-null": 1,
        "no-eval": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-fallthrough": 1,
        "no-floating-decimal": 1,
        "no-implied-eval": 2,
        "no-iterator": 2,
        "no-labels": 2,
        "no-lone-blocks": 1,
        "no-loop-func": 2,
        "no-multi-spaces": 1,
        "no-multi-str": 2,
        "no-native-reassign": 2,
        "no-new": 0,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-octal": 1,
        "no-octal-escape": 1,
        "no-param-reassign": 2,
        "no-process-env": 0,
        "no-proto": 2,
        "no-redeclare": 2,
        "no-return-assign": 2,
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-unused-expressions": 2,
        "no-void": 2,
        "no-warning-comments": 1,
        "no-with": 2,
        "radix": 2,
        "vars-on-top": 1,
        "wrap-iife": 1,
        "yoda": [1, "never"],
        
        "strict": [2, "function"],

        "no-catch-shadow": 2,
        "no-delete-var": 2,
        "no-label-var": 2,
        "no-shadow": 2,
        "no-shadow-restricted-names": 2,
        "no-undef": 1,
        "no-undef-init": 1,
        "no-undefined": 0,
        "no-unused-vars": [1, "after-used"],
        "no-use-before-define": 2,

        "handle-callback-err": [2, "^.*(e|E)rr" ],
        "no-mixed-requires": 0,
        "no-new-require": 1,
        "no-path-concat": 1,
        "no-process-exit": 1,
        "no-restricted-modules": 0,
        "no-sync": 2,

        "indent": 2,
        "brace-style": 1,
        "camelcase": [2, {"properties": "always"}],
        "comma-spacing": [1, {"before": false, "after": true}],
        "comma-style": [1, "last"],
        "consistent-this": [1, "self"],
        "eol-last": true,
        "func-names": true,
        "func-style": [1, "declaration"],
        "key-spacing": [1, {
            "beforeColon": false,
            "afterColon": true
        }],
        "max-nested-callbacks": [2, 3],
        "new-cap": 1,
        "new-parens": 1,
        "newline-after-var": 1,
        "no-array-constructor": 1,
        "no-continue": 1,
        "no-inline-comments": 1,
        "no-lonely-if": 1,
        "no-mixed-spaces-and-tabs": 1,
        "no-multiple-empty-lines": [1, {"max": 2}],
        "no-nested-ternary": 1,
        "no-new-object": 1,
        "no-space-before-semi": 1,
        "no-spaced-func": 1,
        "no-ternary": 0,
        "no-trailing-spaces": 1,
        "no-underscore-dangle": 1,
        "no-wrap-func": 1,
        "one-var": 1,
        "operator-assignment": 0,
        "operator-linebreak": [1, "after"],
        "padded-blocks": "always",
        "quote-props": 0,
        "quotes": [1, "single", "avoid-escape"],
        "semi": [2, "always"],
        "semi-spacing": [1, {"before": false, "after": true}],
        "sort-vars": 0,
        "space-after-keywords": [1, "always"],
        "space-before-blocks": [1, "always"],
        "space-before-function-parentheses": [1, {
            "anonymous": "always",
            "named": "never"
        }],
        "space-in-brackets": [2, "never"],
        "space-in-parens": [2, "never"],
        "space-infix-ops": [2, {"int32Hint": false}],
        "space-return-throw-case": true,
        "space-unary-ops": [1, { "words": true, "nonwords": false }],
        "spaced-line-comment": [1, "always"],
        "wrap-regex": 0,

        "max-depth": [1, 3],
        "max-len": [1, 80, 4],
        "max-params": [1, 4],
        "max-statements": [1, 8],
        "no-bitwise": 1,
        "no-plusplus": 0,

        "ecmaFeatures": {
            "regexYFlag": true,
            "regexUFlag": true
        }
    }

}